<div class="divFirstTask">
    <div class="input-group">
        <input type="text" class="form-control" disabled>
        <div class="input-group-btn">
        <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                    <i class="fa fa-cog"></i> <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem"><a class="dropdown-item" href="#"><i class="fa fa-pencil"></i> Actualizar</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#"><i class="fa fa-trash"></i> Eliminar</a></li>
            </ul>
        </div>
        </div>
    </div>
</div>