<div class="row">
    <fieldset>
        <legend class="header">{{nombreProject}}</legend>
    </fieldset>
</div>
<div class="row">
    <div class="col-lg-3 acti">
        <div class="divContent">
            <button class="btn btn-plus" (click)="addTarea()">
                <i class="fa fa-plus"></i> Add Task
            </button>
        </div>
        <div class="divContent">
            <accordion>
                <accordion-group *ngFor="let task of tasks">
                    <div accordion-heading class="clearfix">
                        {{task.nombre}}
                        <button class="btn btn-plus float-right pull-right" title="delete task">
                            <i class="fa fa-trash-o"></i>
                        </button>
                        <button class="btn btn-plus float-right pull-right" title="create activity" (click)="createActivity(task.id)">
                            <i class="fa fa-plus-square"></i>
                        </button>
                        <button class="btn btn-plus float-right pull-right" title="update task" (click)="updateTarea(task.id)">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </div>
                    This is just some content to illustrate fancy headings.
                </accordion-group>
            </accordion>
        </div>
    </div>
    <div class="col-lg-9 crono">
        <p>Hola, al mas grande supongo</p>
    </div>
</div>