<div class="row">
    <fieldset>
        <legend class="header">{{nombreProject}}</legend>
    </fieldset>
</div>
<div class="row">
    <div class="col-lg-4 acti">
        <div class="divContent">
            <button class="btn btn-plus" (click)="addTarea()">
                <i class="fa fa-plus"></i> Add Task
            </button>
        </div>
        <div class="divContent">
            <accordion [closeOthers]="true">
                <accordion-group *ngFor="let task of tasks" [style.background]="task.color">
                    <div accordion-heading class="clearfix" (click)="loadActivities(task.id)" >
                        {{task.nombre}}
                        <button class="btn btn-transparente float-right pull-right" title="delete task" (click)="delete(task.id)">
                            <i class="fa fa-trash-o"></i>
                        </button>
                        <span class="float-right pull-right">&nbsp;</span>
                        <button class="btn btn-transparente float-right pull-right" title="create activity" (click)="createActivity(task.id)">
                            <i class="fa fa-plus-square"></i>
                        </button>
                        <span class="float-right pull-right">&nbsp;</span>
                        <button class="btn btn-transparente float-right pull-right" title="update task" (click)="updateTarea(task.id)">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <span class="float-right pull-right">&nbsp;</span>
                        <button class="btn btn-transparente float-right pull-right pickco"
                         [(colorPicker)]="color" (colorPickerChange)="onChangeColor($event, task.id);task.color=$event" [style.background]="task.color"></button>
                    </div>
                    <ul class="project">
                        <li *ngFor="let act of actividades">
                            <span class="badge">{{act.id}}</span> {{act.nombre}}
                            <button class="go dupdate" title="update activity" (click)="updateActivity(act.id, task.id)"><i class="fa fa-pencil"></i></button>
                            <button class="go ddelete" title="delete activity" (click)="deleteAct(act.id, task.id)" ><i class="fa fa-trash-o"></i></button>
                            <button class="go dgo" title="go mini activity"
                            routerLink="/project/timeline/{{idProj}}/{{task.id}}/{{act.id}}"><i class="fa fa-angle-right"></i></button>
                        </li>
                    </ul>
                </accordion-group>
            </accordion>
        </div>
    </div>
    <div class="col-lg-8 crono">
        <div class="divContent space">
        </div>
        <div class="divContent">
            <accordion [closeOthers]="true">
                <accordion-group *ngFor="let task of tasks" [style.background]="task.color">
                    <div accordion-heading class="clearfix" (click)="loadActivities(task.id)">
                        <progressbar class="progress" [max]="task.dias" [value]="task.dias" type="success" data-placement="top" data-toggle="tooltip" 
                        title="{{task.fechaini}} - {{task.fechafin}}">
                            <i>{{task.dias}} días</i>
                        </progressbar>
                    </div>
                    <ul class="withoutStyleType" *ngFor="let act of actividades">
                        <li>
                            <progressbar class="progress-striped active" [max]="task.dias" [value]="act.dias" type="info" 
                            popover="{{act.fechaini}} - {{act.fechafin}}"
                            popoverTitle="{{act.nombre}}"
                            placement="top">
                                <i>{{act.dias}} / {{task.dias}} días</i>
                            </progressbar>
                        </li>
                    </ul>
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>