/*Color*/
@blue-color-cab: #2C3E50;
@green-color-body: #18BC9C;
/*Other*/
@min-height-body: 300px;
@margin-value: 10%;

.marco{
    margin-top: @margin-value; 
    margin-left: @margin-value; 
    margin-right: @margin-value; 
    border: 1px solid @blue-color-cab;
    min-height: @min-height-body;
}

.header {
    color: @green-color-body;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: @green-color-body;
}

.btn-green{
    background-color: @green-color-body;
    color: white;
}