<div class="row">
    <div class="col-lg-3 acti">
        <div class="divContent">
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="text" class="form-control" placeholder="Task" #task />
                </span>
                <span class="input-group-addon">
                    <input type="number" class="form-control" placeholder="Dad" #dad />
                </span>
                <span class="input-group-btn">
                    <button class="btn btn-plus" (click)="add(task.value, dad.value); task.value=''; dad.value=''">
                        <i class="fa fa-plus"></i>
                    </button>
                </span>
            </div>
            <list-activity></list-activity>
        </div>
    </div>
    <div class="col-lg-9 crono">
        <p>Hola, al mas grande supongo</p>
    </div>
</div>